file:///home Home Sweet Home
file:///mnt/externaldrive externaldrive
file:///var/www
file:///home/james/%E4%BD%A0%E5%A5%BD%EF%BC%8C%E4%B8%96%E7%95%8C 你好，世界123
sftp://example.com/home/james remote server
