[FileDialog]
history=file:///tmp
lastVisited=file:///tmp
qtVersion=5.15.10
shortcuts=file:///home, file:///mnt/externaldrive, file:///var/www, file:///home/james/你好，世界
sidebarWidth=48
viewMode=Detail
