<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xbel>
<xbel xmlns:mime="http://www.freedesktop.org/standards/shared-mime-info" xmlns:kdepriv="http://www.kde.org/kdepriv" xmlns:bookmark="http://www.freedesktop.org/standards/desktop-bookmarks">
 <info>
  <metadata owner="http://www.kde.org">
   <kde_places_version>4</kde_places_version>
   <GroupState-Places-IsHidden>false</GroupState-Places-IsHidden>
   <GroupState-Remote-IsHidden>false</GroupState-Remote-IsHidden>
   <GroupState-Devices-IsHidden>false</GroupState-Devices-IsHidden>
   <GroupState-RemovableDevices-IsHidden>false</GroupState-RemovableDevices-IsHidden>
   <GroupState-Tags-IsHidden>false</GroupState-Tags-IsHidden>
   <withBaloo>true</withBaloo>
   <GroupState-SearchFor-IsHidden>false</GroupState-SearchFor-IsHidden>
   <GroupState-RecentlySaved-IsHidden>false</GroupState-RecentlySaved-IsHidden>
  </metadata>
 </info>
 <bookmark href="file:///tmp/tmpzsezmz4t/from-gtk">
  <title>Home</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-home"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/0</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="remote:/">
  <title>Network</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-network"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/1</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="trash:/">
  <title>Trash</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-trash"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/2</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="timeline:/today">
  <title>Modified Today</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="go-jump-today"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/3</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="timeline:/yesterday">
  <title>Modified Yesterday</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="view-calendar-day"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/4</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home">
  <title>Home Sweet Home</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="inode-directory"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/5</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///mnt/externaldrive">
  <title>externaldrive</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="application-octet-stream"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/6</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///var/www/">
  <title>www</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="inode-directory"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/7</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/james/%E4%BD%A0%E5%A5%BD%EF%BC%8C%E4%B8%96%E7%95%8C">
  <title>你好，世界123</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="inode-directory"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/8</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="sftp://example.com/home/james">
  <title>remote server</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="application-octet-stream"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1694983480/9</ID>
   </metadata>
  </info>
 </bookmark>
</xbel>
