Source: bookmarksync
Section: utils
Priority: optional
Maintainer: James Lu <james@overdrivenetworks.com>
Build-Depends: debhelper-compat (= 13),
               cmake,
               qt6-base-dev,
               libkf6iconthemes-dev,
               libkf6kio-dev
Standards-Version: 4.6.2
Homepage: https://github.com/jlu5/bookmarksync
Vcs-Git: https://github.com/jlu5/bookmarksync
Vcs-Browser: https://github.com/jlu5/bookmarksync/tree/debian

Package: bookmarksync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: manage GTK+ and KDE bookmarks
 BookmarkSync is a simple program that manages GTK+ and KDE folder bookmarks
 (aka Places). It provides simple operations such as add/edit/remove for
 places, as well as syncing between GTK+ and KDE places by replacing one
 with the other.
